.rightBorder{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 7.5%;
    left: 58.5%;
    height: 686px;
    width: 640px;
    flex-direction: column;
    align-items: center;
}
.img{
    background-image: url('https://via.placeholder.com/900x686');
    width: 900px;
    height: 720px;
}

.inputStyle{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
}
.inputStyle::placeholder{
 padding-left: 10px;
 opacity: 50%;
}

.ButtonStyle {
    background-color: aqua;
    border-color: aqua;
    color: white;
    border-radius: 5px;
    width: 70px;
    position: relative; 
}

.ButtonStyle:hover {
    background-color: rgb(0, 231, 231);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.ButtonStyle span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); 
    transition: opacity 0.5s ease; 
}

.ButtonStyle:hover span {
    padding-right: 25px; 
}

.ButtonStyle:hover span::after {
    opacity: 1;
    right: 20px; 
}

.ButtonStyle2{
    background-color:aqua;
    border-color: aqua;
    color : white;
    border-radius: 5px;
    width: 180px;
    height: 35px;
    position: relative;
}

.ButtonStyle2:hover{
    background-color:rgb(0, 231, 231);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.ButtonStyle2 span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 50%; 
    right: 10px;
    transform: translateY(-50%); 
    transition: 0.5s;
}

.ButtonStyle2:hover span {
    padding-right: 25px; 
}

.ButtonStyle2:hover span::after {
    opacity: 1;
    right: 25px; 
}
.SmallBorder{
    display: flex;
    justify-content: center;
    
    width: 450px;
    height: 350px;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .rightBorder{
        position: static;
        padding-bottom: 104%;
        padding-left: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        justify-content: flex-start;
        border: none;
        height: auto;
        width: auto;
    }
    .img{
        background-image: url('https://via.placeholder.com/767x686');
        width: 767px;
        height: 720px;
    }
    .SmallBorder{
        display: flex;
        justify-content: center;
        border:0.1px solid rgb(171, 176, 180);
        border-radius: 10px;
        width: 450px;
        height: 350px;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }
  }